
@{
    ViewData["Title"] = "CallParameter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Call Parameter Process</h1>

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<div class="container">
    <br />
    <p><button onclick="document.getElementById('newcallparameter').style.display='block'" class="btn btn-success">New Call Parameter</button></p>

    <div style="width:90%; margin:0 auto;">
        <table id="callparameter" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>ParametersDate</th>
                    <th>Call</th>
                    <th>CallCarpani</th>
                    <th>CallKapasite</th>
                    <th>CallGerceklesen</th>
                    <th>CallVerimYuzdesi</th>    
                    <th>CallVerimDegeri</th>
                    <th>CallVerimSonucu</th>  
                    <th>Actions</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

  <!-- NewProject Modal -->
    <div id="newcallparameter" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom">
            <div class="w3-container w3-blue w3-display-container rounded-3 border-2 shadow">
                <span onclick="document.getElementById('newcallparameter').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                <h3>callparameter</h3>
            </div>
            <div id="Form">
                <form method="post">

                        Name: <input type="text" id="Name" placeholder="Name">
                        <br>
                        ParametersDate: <input type="date" id="ParametersDate" placeholder="ParametersDate">
                        <br>
                        Call: <select id="Call">
                            <option selected>Bir Değer Seçiniz</option>
                        </select>
                        <br>                   
                        CallCarpani: <input type="text" id="CallCarpani" placeholder="CallCarpani">>
                        <br>
                        CallKapasite: <input type="text" id="CallKapasite" placeholder="CallKapasite">
                        <br>
                        CallGerceklesen: <input type="text" id="CallGerceklesen" placeholder="CallGerceklesen" >
                        <br>
                        CallVerimYuzdesi: <input type="text" id="CallVerimYuzdesi" placeholder="CallVerimYuzdesi">
                        <br>
                        CallVerimDegeri: <input type="text" id="CallVerimDegeri" placeholder="CallVerimDegeri">
                        <br>
                        CallVerimSonucu: <input type="text" id="CallVerimSonucu" placeholder="CallVerimSonucu">
                        <br>
                        <div id="hata" style="text-align:center; color:red;"> 

                        </div>
                        <button class="btn btn-lg btn-success btn-block Save" onclick="" type="submit">Save</button>
                </form>
            </div>
         </div>
    </div>  

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/callparameter.js"></script>

}
