
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/IndexPageLayout.cshtml";
}
<link href="~/css/IndexPage.css" rel="stylesheet" />
<div>
<div id="card">
<div class="profile">
<img src="https://www.shareicon.net/data/512x512/2015/11/29/679415_laptop_512x512.png">
<h3><strong>Sedanur Şimşek</strong></h3>
<h5>Software Developer Intern</h5>

</div>
</div>