
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/IndexPageLayout.cshtml";
}

<h3 style="color:white; text-align:center">Welcome @ViewBag.Username </h3>

<style>
    body {
        background-image: url('https://www.dzdtech.com/wp-content/uploads/2022/05/business.jpg');
    }
</style>
