<h3 style="color:white">Welcome @ViewBag.username</h3>

<form align="right" name="form1" method="post" action="Login/Login">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="log out">
  </label>
</form>
<style>
body {
  background-image: url('https://www.dzdtech.com/wp-content/uploads/2022/05/business.jpg');
}
</style>
	
