
@{
Layout = null;
}
<!-- İçini doldurmak kaldı. Anasayfa gözükmüyo ona bakılacak-->
<!DOCTYPE html>
<html>
<head>
<title>DZD TECH | PRİM SİSTEMİ </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="~/css/IndexPage.css" rel="stylesheet" />
<meta charset ="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">





</head>
<body>





<div class="wrapper">
<div class="sidebar">
<!--sidebar profile -->
<div class="profile">
<img src="/assets/dzdtechlogo.jpg">
<h3>DZD TECH</h3>
<h3 style="color:black;"><strong>PRİM SİSTEMİ</strong></h3>
</div>



<!--menu item -->
<ul>
<li><a href="#" >
<span class="icon"><i class="fas fa-home"></i></span>
<span class="item">Ana Sayfa</span>
</a></li>
<li><a href="#">
<span class="icon"><i class="fas fa-tasks"></i></span>
<span class="item">Projelerim</span>
</a></li>
<li><a href="#">
<span class="icon"><i class="fas fa-laptop-code"></i></span>
<span class="item">Çağrılarım</span>
</a></li>
<li><a href="#">
<span class="icon"><i class="fas fa-cog"></i></span>
<span class="item">Ayarlar</span>
</a></li>
<li><a href="/Login/Login/">
<span class="icon"><i class="fas fa-arrow-right"></i></span>
<span class="item">Çıkış Yap</span>
</a></li>
</ul>
</div>
<!-- Top menu bar -->
<div class="section">
<div class="top_navbar">
<div class="hamburger">
<a href="#"><i class="fas fa-bars"></i></a>
</div>
</div>
</div>
@RenderBody()
</div>





<!-- menu active javascript -->
<script>
var hamburger=document.querySelector(".hamburger");
hamburger.addEventListener("click",function(){
document.querySelector("body").classList.toggle("active")
})





</script>





</body>
</html>
