
@{
    ViewData["Title"] = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/css/IndexPage.css" rel="stylesheet" />
    <link href="~/js/IndexPage.js" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<h2 class="text-danger">You are not authorized to access this page
<h1 class="text-danger">Error.</h1>.</h2>

<h3> 
    <a href="/Login/Login/">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="item">Please click for login</span>
    </a>
</h3>

