@{
    ViewData["Title"] = "Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<div class="container">
    <br />
    <p><button onclick="document.getElementById('newproject').style.display='block'" class="btn btn-success">New Bank</button></p>

    <div style="width:90%; margin:0 auto;">
        <table id="ProjectDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="fontsize ;" scope="col">ProjectDate</th>
                    <th class="fontsize ;" scope="col">Bank</th>
                    <th class="fontsize ;" scope="col">JiraProjectNo</th>
                    <th class="fontsize ;" scope="col">JiraTaskNo</th>
                    <th class="fontsize ;" scope="col">JiraProjectName</th>
                    <th class="fontsize ;" scope="col">DZDStatus</th>
                    <th class="fontsize ;" scope="col">Status</th>
                    <th class="fontsize ;" scope="col">Department</th>
                    <th class="fontsize ;" scope="col">Team</th>
                    <th class="fontsize ;" scope="col">Developer</th>
                    <th class="fontsize ;" scope="col">Analyst</th>
                    <th class="fontsize ;" scope="col">TotalManDay</th>
                    <th class="fontsize ;" scope="col">DeveloperManDay</th>
                    <th class="fontsize ;" scope="col">AnalystManDay</th>
                    <th class="fontsize ;" scope="col">PmManDay</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<!-- NewProject Modal -->
<div id="newproject" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-blue w3-display-container rounded-3 border-2 shadow">
            <span onclick="document.getElementById('newproject').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
            <h1>New Project</h1>
        </div>
        <form method="post" asp-controller="Login" asp-action="LoginUser">
            <div class="container">
                <div class="row">
                    <div class="col-lg mx-auto">
                        <div class="card shadow">
                            <div class="card-body p-5">
                                <!--  Bootstrap table-->
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tblProjects">
                                        <thead>
                                            <tr>
                                                <th class="fontsize ;" scope="col">ProjectDate</th>
                                                <th class="fontsize ;" scope="col">Bank</th>
                                                <th class="fontsize ;" scope="col">JiraProjectNo</th>
                                                <th class="fontsize ;" scope="col">JiraTaskNo</th>
                                                <th class="fontsize ;" scope="col">JiraProjectName</th>
                                                <th class="fontsize ;" scope="col">DZDStatus</th>
                                                <th class="fontsize ;" scope="col">Status</th>
                                                <th class="fontsize ;" scope="col">Department</th>
                                                <th class="fontsize ;" scope="col">Team</th>
                                                <th class="fontsize ;" scope="col">Developer</th>
                                                <th class="fontsize ;" scope="col">Analyst</th>
                                                <th class="fontsize ;" scope="col">TotalManDay</th>
                                                <th class="fontsize ;" scope="col">DeveloperManDay</th>
                                                <th class="fontsize ;" scope="col">AnalystManDay</th>
                                                <th class="fontsize ;" scope="col">PmManDay</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td><input class="form-control rounded-0" type="date" id="ProjectDate" placeholder="ProjectDate"></td>
                                                <td>

                                                    <select class="form-select" aria-label="Default select example" id="bankDropdown">
                                                        <option selected>Open this select Bank</option>                                                  
                                                     
                                                    </select>



                                                </td>
                                                <td><input class="form-control rounded-0" type="text" id="JiraProjectNo" placeholder="JiraProjectNo"></td>
                                                <td><input class="form-control rounded-0" type="text" id="JiraTaskNo" placeholder="JiraTaskNo"></td>
                                                <td><input class="form-control rounded-0" type="text" id="JiraProjectName" placeholder="JiraProjectName"></td>
                                                <td><input class="form-control rounded-0" type="text" id="DZDStatus" placeholder="DZDStatus"></td>
                                                <td><input class="form-control rounded-0" type="text" id="Status" placeholder="Status"></td>
                                                <td><input class="form-control rounded-0" type="text" id="Department" placeholder="Department"></td>
                                                <td><input class="form-control rounded-0" type="text" id="Team" placeholder="Team"></td>
                                                <td><input class="form-control rounded-0" type="text" id="Developer" placeholder="Developer"></td>
                                                <td><input class="form-control rounded-0" type="text" id="Analyst" placeholder="Analyst"></td>
                                                <td><input class="form-control rounded-0" type="text" id="TotalManDay" placeholder="TotalManDay"></td>
                                                <td><input class="form-control rounded-0" type="text" id="DeveloperManDay" placeholder="DeveloperManDay"></td>
                                                <td><input class="form-control rounded-0" type="text" id="AnalystManDay" placeholder="AnalystManDay"></td>
                                                <td><input class="form-control rounded-0" type="text" id="PmManDay" placeholder="PmManDay"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @section Scripts
        {
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/js/Project.js"></script>

    }

