@{
    ViewData["Title"] = "Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
 <link rel="stylesheet" href="~/css/Project.css">
<div class="container">
    <br />
    <p><button onclick="document.getElementById('newproject').style.display='block'" class="btn btn-success">New Project</button></p>

    <div style="width:90%; margin:0 auto;">
        <table id="ProjectDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ProjectDate</th>
                    <th>Bank</th>
                    <th>JiraProjectNo</th>
                    <th>JiraTaskNo</th>
                    <th>JiraProjectName</th>
                    <th>DZDStatus</th>
                    <th>Status</th>
                    <th>Department</th>
                    <th>Team</th>
                    <th>Developer</th>
                    <th>Analyst</th>
                    <th>TotalManDay</th>
                    <th>DeveloperManDay</th>
                    <th>AnalystManDay</th>
                    <th>PmManDay</th>
                    <th>Actions</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<!-- NewProject Modal -->
<div id="newproject" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-blue w3-display-container rounded-3 border-2 shadow">
            <span onclick= "reloadPage()" class="w3-button w3-display-topright w3-large">x</span>
            <h1>New Project</h1>
        </div>
            <div id="Form">
                <form method="post">

                        Project Date: <input type="date" value="2018-07-22" id="projectDate" placeholder="ProjectDate">
                        <br>
                        Bank: <select id="Bank"></select>
                        <br>
                        JiraProjectNo: <input type="text" id="JiraProjectNo" placeholder="JiraProjectNo">
                        <br>
                        JiraTaskNo: <input type="text" id="JiraTaskNo" placeholder="JiraTaskNo">
                        <br>
                        JiraName: <input type="text" id="JiraProjectName" placeholder="JiraProjectName">
                        <br>
                        DZDStatus: <input type="text" id="DZDStatus" placeholder="DZDStatus">
                        <br>
                        Status: <input type="text" id="Status" placeholder="Status">
                        <br>
                        Department: <input type="text" id="Department" placeholder="Department">
                        <br>
                        Team: <input type="text" id="Team" placeholder="Team">
                        <br>
                        Developer: <input type="text" id="Developer" placeholder="Developer">
                        <br>
                        Analyst: <input type="text" id="Analyst" placeholder="Analyst">
                        <br>
                        TotalManDay: <input type="text" id="TotalManDay" placeholder="TotalManDay">
                        <br>
                        DevManDay: <input type="text" id="DeveloperManDay" placeholder="DeveloperManDay">
                        <br>
                        AnalystMDay: <input type="text" id="AnalystManDay" placeholder="AnalystManDay">
                        <br>
                        PmManDay: <input type="text" id="PmManDay" placeholder="PmManDay">
                        <br>

                        <button class="btn btn-lg btn-success btn-block Save" onclick="" type="submit">Save</button>
                </form>
         </div>
     </div>
</div>

    @section Scripts
        {
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/js/Project.js"></script>

    }




                                

